.station {
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #0077cc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
}
.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow {
    text-align: center;
    font-size: 20px;
    color: #0077cc;
    margin: 10px;
    margin-right: 5px; /* 矢印の右側の間隔を調整 */
}
.description {
    text-align: center;
    font-size: 14px;
    color: #333;
}
.arrow-and-description {
    display: flex;
    align-items: center; /* 矢印と文字を垂直方向に中央揃え */
    justify-content: center; /* 矢印と文字を水平方向に中央揃え */
    margin-right: 10px; /* 矢印と文字の間隔を調整 */
}
